<h1>Listing game_days</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Weeknumber</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @game_days.each do |game_day| %>
  <tr>
    <td><%= game_day.date %></td>
    <td><%= game_day.weekNumber %></td>
    <td><%= link_to 'Show', game_day %></td>
    <td><%= link_to 'Edit', edit_game_day_path(game_day) %></td>
    <td><%= link_to 'Destroy', game_day, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game day', new_game_day_path %>
